//////////////////////////
// ! mainLayout__head
//////////////////////////
@head-z-index: 1000;
@header-height: 50px;
@header-color: #ffffff;
@header-background-color: #3ba4e2;
// logo
@header-logo-height: 30px;
// userinfo
@header-userinfo-color: white;
@header-userinfo-font-size: 14px;
@header-userinfo-li-padding: 0 20px;
@header-userinfo-li-hover-background-color: #3494e1;
@header-userinfo-splitter-height: 20px;
@header-userinfo-splitter-background-color: #ccc;
// popover
@header-popver-padding: 20px;
@header-popver-width: 140px;
@header-popver-color: #aaa;
@header-popver-background-color: white;
@header-popver-background-box-shadow: 0 0 5px #ccc;
@header-popver-avatar-size: 50px;

//////////////////////////
// ! mainLayout__body
//////////////////////////
@body-z-index: 900;

//////////////////////////
// ! leftMenu
//////////////////////////
@leftMenu-z-index: 100;
@leftMenu-width: 160px;
@leftMenu-background-color: #96d0f8;
// menu
@leftMenu-menu-height: 50px;
@leftMenu-menu-font-size: 12px;
@leftMenu-menu-icon-size: 12px;
@leftMenu-menu-color: #000;
@leftMenu-menu-active-color: #ffffff;
@leftMenu-menu-active-background-color: #16659d;
// sub menu
@leftMenu-submenu-color: #000;
@leftMenu-submenu-background-color: #7aabcd;
@leftMenu-submenu-active-color: #fff;
// comfirm
@leftMenu-comfirm-link-color: #16659d;
//////////////////////////
// ! left-menu-shadow
//////////////////////////
@leftMenu-shadow-z-index: 99;
@leftMenu-shadow-background-color: rgba(0, 0, 0, .5);

//////////////////////////
// ! rightContent
//////////////////////////
@rightContent-z-index: 98;
@rightContent-background-color: #ffffff;

// rightContent 的 breadcrumb
@breadcrumb-height: 50px;
@breadcrumb-color: #303133;
@breadcrumb-disabled-color: #606266;
@breadcrumb-font-size: 14px;
@breadcrumb-background-color: #ffffff;
// toggler
@breadcrumb-toggler-font-size: 20px;
@breadcrumb-toggler-color: #000;
@breadcrumb-toggler-active-color: #3ca9f4;

// rightContent 的 childView
@childView-padding: 0;
@childView-background-color: #f2f2f2;
// childView 里的 container
@childView-container-font-size--large: 16px;
@childView-container-font-size--medium: 14px;
@childView-container-font-size--small: 12px;
@childView-container-margin: 20px;
@childView-container-padding: 20px;
@childView-container-gap: 20px;
@childView-container-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
